

.card{margin-bottom:30px;height:-webkit-calc(100% - 30px);height:calc(100% - 30px)}.card-footer .nav-tabs{width:100%}.card-footer .nav-item{display:table-cell;float:none;width:1%}.card-footer .nav-link{padding-top:15px;padding-bottom:15px;font-size:20px}@media (max-width:479px){.background-bottom .col-xs-6{width:100%}.background-bottom .col-xs-6+.col-xs-6{margin-top:20px}.avatar-group .counter-icon{display:block}.avatar-group .counter-icon>i{margin:0!important}}@media (min-width:1200px) and (max-width:1366px){.col-lg-3{width:50%}}