<!-- Patient Dashboard -->
<app-header></app-header>
<app-sidenav></app-sidenav>
<section>
  <!-- Page -->
  <div class="page">
     <div class="page-content container-fluid">
        <div class="col-lg-10 page-heading">
           <div class="row" data-plugin="matchHeight" data-by-row="true">
              <div class="col-lg-12 page-heading">Welcome Mike</div>
              <div class="col-lg-6 mb-30"><img src="assets/images/dahboard-img.png" class="img-fluid"></div>
              <div class="col-lg-6">
                 <div class="card-block text-center bg-white card-border" style="min-height:275px;">
                    <h3 class="theme-color">Activity Tracker</h3>
                    <img src="assets/images/activity_graph.gif" class="img-fluid">	
                 </div>
              </div>
           </div>
           <div class="row" style="margin-top:30px;">
              <!-- Widget starts -->
              <div class="col-lg-3 mb-30">
                 <div class="card-block text-center bg-blue card-border">
                    <h4 class="theme-color">STEPS</h4>
                    <img src="assets/images/icons/steps.png" class="img-fluid">
                    <h4>2025</h4>
                 </div>
              </div>
              <!-- Widget starts -->
              <div class="col-lg-3 mb-30">
                 <div class="card-block text-center bg-white card-border">
                    <h4 class="theme-color">ACTIVE MINUTES</h4>
                    <img src="assets/images/icons/active_min.png" class="img-fluid">
                    <h4>30</h4>
                 </div>
              </div>
              <!-- Widget starts -->
              <div class="col-lg-3 mb-30">
                 <div class="card-block text-center bg-blue card-border">
                    <h4 class="theme-color">CALORIES BURNT</h4>
                    <img src="assets/images/icons/calories.png" class="img-fluid">
                    <h4>1,030</h4>
                 </div>
              </div>
              <!-- Widget starts -->
              <div class="col-lg-3 mb-30">
                 <div class="card-block text-center bg-white card-border">
                    <h4 class="theme-color">FLOORS</h4>
                    <img src="assets/images/icons/floors.png" class="img-fluid">
                    <h4>5</h4>
                 </div>
              </div>
           </div>
           <div class="row" style="margin-top:30px;">
              <!-- Widget starts -->
              <div class="col-lg-3 mb-30">
                 <div class="card-block text-center bg-white card-border">
                    <h4 class="theme-color">DISTANCE</h4>
                    <img src="assets/images/icons/distance.png" class="img-fluid">
                    <h4>2025</h4>
                 </div>
              </div>
              <!-- Widget starts -->
              <div class="col-lg-3 mb-30">
                 <div class="card-block text-center bg-blue card-border">
                    <h4 class="theme-color">WEIGHT</h4>
                    <img src="assets/images/icons/weight.png" class="img-fluid">
                    <h4>30</h4>
                 </div>
              </div>
              <!-- Widget starts -->
              <div class="col-lg-3 mb-30">
                 <div class="card-block text-center bg-white card-border">
                    <h4 class="theme-color">CALS. IN vs. OUT</h4>
                    <img src="../assets/images/icons/calories-in-out.png" class="img-fluid">
                    <h4>1,030</h4>
                 </div>
              </div>
              <!-- Widget starts -->
              <div class="col-lg-3 mb-30">
                 <div class="card-block text-center bg-blue card-border">
                    <h4 class="theme-color">FOOD PLAN</h4>
                    <img src="assets/images/icons/food.png" class="img-fluid">
                    <h4>5</h4>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <!-- Widget starts -->
  <div class="card-block text-center bg-white" style="position:absolute;right:0;top:150px;border-radius:25px 0 0 25px;border:1px solid #ddd;">
     <h3 class="theme-color">Friends</h3>
     <img src="assets/images/friends.gif">
  </div>
  <div class="text-center bg-white" style="position:absolute;right:0;top:600px;border-radius:25px 0 0 25px;border:1px solid #ddd;padding:10px;min-width:215px;">
     <img src="assets/images/icons/add.gif"> Add New Reminder
  </div>
  <div class="text-center bg-white" style="position:absolute;right:0;top:680px;border-radius:25px 0 0 25px;border:1px solid #ddd;padding:10px;min-width:215px;">
     <img src="assets/images/icons/add.gif"> Add Care Partner
  </div>
</section>
<app-footer></app-footer>
<!-- Patient Dashboard -->