<app-header></app-header>
<app-sidenav></app-sidenav>
<section>
   <div class="dashboard">
      <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <!-- Page -->
      <div class="page">
         <div class="page-content container-fluid">
            <div class="col-lg-12">
               <div class="row" data-plugin="matchHeight" data-by-row="true">
                  <div class="col-lg-12 page-heading">Dictation Report</div>
                  <div class="card-block text-center bg-white card-border">
                     <div class="table-responsive text-center">
                        <table class="table table-responsive table-striped text-center">
                           <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                              <!--- Note that these columns can be defined in any order.
                                 The actual rendered columns are set as a property on the row definition" -->
                              <!-- Position Column -->
                              <ng-container matColumnDef="report_id">
                                 <th mat-header-cell *matHeaderCellDef> Report Id </th>
                                 <td mat-cell *matCellDef="let element"> {{element.report_id}} </td>
                              </ng-container>
                              <!-- Name Column -->
                              <ng-container matColumnDef="report_name">
                                 <th mat-header-cell *matHeaderCellDef>Report Name </th>
                                 <td mat-cell *matCellDef="let element"> {{element.report_name}} </td>
                              </ng-container>

                              <ng-container matColumnDef="report_date">
                                  <th mat-header-cell *matHeaderCellDef>Report Date </th>
                                  <td mat-cell *matCellDef="let element"> {{element.report_date}} </td>
                               </ng-container>
                              <!-- Weight Column -->
                              <ng-container matColumnDef="patient_name">
                                 <th mat-header-cell *matHeaderCellDef> Patient Name </th>
                                 <td mat-cell *matCellDef="let element"> {{element.patient_name}} </td>
                              </ng-container>
                              <!-- Symbol Column -->
                              <ng-container matColumnDef="action">
                                 <th mat-header-cell *matHeaderCellDef> Actions </th>
                                 <!-- <td mat-cell *matCellDef="let element"> {{element.action}} </td> -->
                                 <td mat-cell *matCellDef="let element">
                                    <!-- <button mat-raised-button color="warn" (click)="deleteCareTaker(element.USER_ID)"> Delete </button> -->
                                    <button mat-button>
                                       <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
                                    </button>
                                    <button mat-button>
                                       <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                                    </button>
                                    <button mat-button>
                                       <mat-icon aria-hidden="false" aria-label="Example home icon">get_app</mat-icon>
                                    </button>
                                    <button mat-button>
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">mail</mat-icon>
                                    </button>
                                 </td>
                              </ng-container>
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                           </table>
                           <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Widget starts -->
   </div>
</section>
<app-footer></app-footer>