<!-- <app-header></app-header> -->
<div class="page-login layout-full page-dark">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Page -->
<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
   <div class="page-content page-top vertical-align-middle animation-slide-top animation-duration-1" style="background:#fff;">
      <div class="brand"><img class="brand-img" src="../../../assets/images/logo.png" alt="..."></div>
      <!-- <p>Sign into your pages account</p> -->
      <h3 class="modal-title">Forgot Your Password?</h3>
      <p class="mt-2">Enter your email associated with your VIKI account.</p>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [formControl]="emailFormControl"
                 [errorStateMatcher]="matcher" autocomplete="new-password">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      
        <!-- <div class="example-container"> -->
          <!-- <a class="float-right" href="#" data-target="#examplePositionCenter" data-toggle="modal">Forgot password?</a> -->
        <!-- </div> -->
        <button mat-raised-button color="primary">Reset Your Password</button>
      </form>
      <p>Back to <a routerLink="/login">Login</a></p>
   </div>
</div>
<!-- End Page -->

<app-footer></app-footer>
