<app-header></app-header>
<app-sidenav></app-sidenav>
<section>
   <!-- Page -->
   <div class="page app-calendar page-aside-left">
      <div class="page-content container-fluid">
         <div class="col-lg-12">
            <div class="row" data-plugin="matchHeight" data-by-row="true">
               <div class="col-lg-12 page-heading">Add a Caretaker</div>
               <div class="card-block bg-white card-border">
                  <h3 class="mb-30">User Details</h3>
                  <form>
                     <div class="row">
                        <div class="col-md-3 mb-15">
                           <div class="form-group form-material" data-plugin="formMaterial">
                              <!-- <input type="text" class="form-control" id="inputText" name="inputText" placeholder="Username *"> -->
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Username">
                             </mat-form-field>
                           </div>
                        </div>
                        <div class="col-md-3 mb-15">
                           <div class="form-group form-material" data-plugin="formMaterial">
                              <mat-form-field class="example-full-width">
                                 <mat-label>Patient</mat-label>
                                 <mat-select>
                                    <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="col-md-3 mb-15">
                           <div class="form-group form-material" data-plugin="formMaterial">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="CHAA Id">
                           </mat-form-field>
                           </div>
                        </div>
                     </div>
                     <h3 class="mb-30">Personal Details</h3>
                     <div class="row">
                        <div class="col-md-3 mb-15">
                           <div class="form-group form-material" data-plugin="formMaterial">
                              <!-- <input type="text" class="form-control" id="inputText" name="inputText" placeholder="First Name *"> -->
                              <mat-form-field class="example-full-width">
                                 <input matInput placeholder="First Name">
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="col-md-3 mb-15">
                           <div class="form-group form-material" data-plugin="formMaterial">
                              <!-- <input type="text" class="form-control" id="inputText" name="inputText" placeholder="Middle Name"> -->
                              <mat-form-field class="example-full-width">
                                 <input matInput placeholder="Middle Name">
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="col-md-3 mb-15">
                           <div class="form-group form-material" data-plugin="formMaterial">
                              <!-- <input type="text" class="form-control" id="inputText" name="inputText" placeholder="Last Name *"> -->
                              <mat-form-field class="example-full-width">
                                 <input matInput placeholder="Last Name">
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="col-md-3 mb-15">
                           <div class="form-group form-material" data-plugin="formMaterial">
                              <mat-form-field class="example-full-width">
                                 <mat-label>Gender</mat-label>
                                 <mat-select>
                                    <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                     </div>
                     <h3 class="mb-30">Contact Details</h3>
                     <div class="row">
                        <div class="col-md-3 mb-15">
                            <div class="form-group form-material" data-plugin="formMaterial">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" [formControl]="emailFormControl"
                            [errorStateMatcher]="matcher">
                            <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                               Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                               Email is <strong>required</strong>
                            </mat-error>
                         </mat-form-field>
                         </div>
                        </div>
                        <div class="col-md-3 mb-15">
                           <div class="form-group form-material" data-plugin="formMaterial">
                              <!-- <input type="text" class="form-control" id="inputText" name="inputText" placeholder="Room Number *"> -->
                              <mat-form-field class="example-full-width">
                                 <mat-label>Country</mat-label>
                                 <mat-select>
                                    <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="col-md-3 mb-15">
                           <div class="form-group form-material" data-plugin="formMaterial">
                              <!-- <input type="text" class="form-control" id="inputText" name="inputText" placeholder="Street Address"> -->
                              <mat-form-field class="example-full-width">
                                 <span matPrefix>+91 &nbsp;</span>
                                 <input type="number" matInput placeholder="Phone">
                                 <!-- <mat-icon matSuffix>phone</mat-icon> -->
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="col-md-3 mb-15">
                           <div class="form-group form-material" data-plugin="formMaterial">
                              <!-- <input type="text" class="form-control" id="inputText" name="inputText" placeholder="City *"> -->
                              <mat-form-field class="example-full-width">
                                 <mat-label>State</mat-label>
                                 <mat-select>
                                    <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                    </mat-option>
                                 </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="col-md-3 mb-15">
                           <div class="form-group form-material" data-plugin="formMaterial">
                              <mat-form-field class="example-full-width">
                                 <input matInput placeholder="City">
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="col-md-3 mb-15">
                           <div class="form-group form-material" data-plugin="formMaterial">
                              <mat-form-field class="example-full-width">
                                 <input type="number" matInput placeholder="ZipCode">
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="col-md-3 mb-15">
                           <div class="form-group form-material" data-plugin="formMaterial">
                              <mat-form-field class="example-full-width">
                                 <input matInput placeholder="Street">
                              </mat-form-field>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-2 mb-15"><button type="button" class="btn btn-block btn-default">Submit</button></div>
                        <div class="col-md-2 mb-15"><button type="button" class="btn btn-block btn-primary">Cancel</button></div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Widget starts -->
</section>
<app-footer></app-footer>