<div class="site-menubar">
  <div class="site-menubar-body">
     <ul class="site-menu" data-plugin="menu">
        <li class="site-menu-item first active"><a href="javascript:void(0)" style="margin-left:5px !important;"><img src="../assets/images/icons/icn_home.png"></a></li>
        <li class="site-menu-item"><a href="dictation-report.html"><img src="assets/images/icons/icn_log.png" title="Dashboard"></a></li>
        <li class="site-menu-item"><a href="calendar.html"><img src="assets/images/icons/icn_calendar.png"></a></li>
        <li class="site-menu-item"><a href="public-health-report.html"><img src="assets/images/icons/icn_reminders.png"></a></li>
        <li class="site-menu-item"><a href="entertainment.html"><img src="assets/images/icons/icn_dictation.png"></a></li>
        <li class="site-menu-item"><a href="dictation-report.html"><img src="assets/images/icons/icn_device.png"></a></li>
        <li class="site-menu-item"><a href="calendar.html"><img src="assets/images/icons/icn_entertainment.png"></a></li>
        <li class="site-menu-item"><a href="public-health-report.html"><img src="assets/images/icons/icn_family.png"></a></li>
        <li class="site-menu-item"><a href="entertainment.html"><img src="assets/images/icons/icn_caretaker.png"></a></li>
     </ul>
  </div>
</div>

<!-- <div class="site-menubar">
   <div class="site-menubar-body">
   <ul class="site-menu" data-plugin="menu">
   <li class="site-menu-item first active"><a href="javascript:void(0)" style="margin-left:5px !important;" data-toggle="tooltip" title="Home/Dashboard" data-placement="right"><img src="assets/images/icons/icn_home.png"></a></li>
   <li class="site-menu-item"><a href="dictation-report.html" data-toggle="tooltip" title="Activity Log" data-placement="right"><img src="assets/images/icons/icn_log.png"></a></li>
   <li class="site-menu-item"><a href="calendar.html" data-toggle="tooltip" title="Calendar" data-placement="right"><img src="assets/images/icons/icn_calendar.png"></a></li>
   <li class="site-menu-item"><a href="public-health-report.html" data-toggle="tooltip" title="Medication Reminders" data-placement="right"><img src="assets/images/icons/icn_reminders.png"></a></li>
   <li class="site-menu-item"><a href="entertainment.html" data-toggle="tooltip" title="Dictation Report" data-placement="right"><img src="assets/images/icons/icn_dictation.png"></a></li>
   <li class="site-menu-item"><a href="dictation-report.html" data-toggle="tooltip" title="Device" data-placement="right"><img src="assets/images/icons/icn_device.png"></a></li>
   <li class="site-menu-item"><a href="calendar.html" data-toggle="tooltip" title="Entertainment" data-placement="right"><img src="assets/images/icons/icn_entertainment.png"></a></li>
   <li class="site-menu-item"><a href="public-health-report.html" data-toggle="tooltip" title="Family and Friends" data-placement="right"><img src="assets/images/icons/icn_family.png"></a></li>
   <li class="site-menu-item"><a href="entertainment.html" data-toggle="tooltip" title="Caretakers" data-placement="right"><img src="assets/images/icons/icn_caretaker.png"></a></li>
   </ul>
   </div>
   </div> -->