<footer class="site-footer text-center">
  <div class="site-footer-legal">&#169; VikiHealth. All rights reserved. Powered by <a href="https://airodigitallabs.com" target="_blank">Airo Digital Labs</a></div>
</footer>
