table {
    width: 100%;
    text-align: center;
  }

  .mat-header-cell{
      text-align: center;
  }

  .mat-header-row {
    background-color: #d7dfff;
    padding:15px 0;
    text-align: center;
}
.mat-header-cell {
    padding-bottom: 17px;
    font-size: 14px;
    padding-right:20px!important;
    padding-left:20px!important;
}
