<app-header></app-header>
<app-sidenav></app-sidenav>
<section>
   <!-- Page -->
   <div class="page">
      <div class="page-main">
         <div class="calendar-container">
            <div class="row">
               <div class="col-md-2" style="max-width:100px;"><strong>Legends:</strong></div>
               <div class="col-md-10" id="calendar-legend">
                  <ul>
                     <li><img src="../../../assets/images/legend1.png"> Doctor's Appointment</li>
                     <li><img src="../../../assets/images/legend2.png"> Caretaker Appointment</li>
                     <li><img src="../../../assets/images/legend3.png"> Reminders</li>
                     <li><img src="../../../assets/images/legend4.png"> Personal Schedule</li>
                     <li><img src="../../../assets/images/legend5.png"> Medication</li>
                  </ul>
               </div>
            </div>
            <div id="calendar"></div>
            <!--AddEvent Dialog -->
            <div class="modal fade" id="addNewEvent" aria-hidden="true" aria-labelledby="addNewEvent"
               role="dialog" tabindex="-1">
               <div class="modal-dialog modal-simple">
                  <form class="modal-content form-horizontal" action="#" method="post" role="form">
                     <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                        <h4 class="modal-title">New Event</h4>
                     </div>
                     <div class="modal-body">
                        <div class="form-group row">
                           <label class="col-md-2 form-control-label" for="ename">Name:</label>
                           <div class="col-md-10">
                              <input type="text" class="form-control" id="ename" name="ename">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 form-control-label" for="starts">Starts:</label>
                           <div class="col-md-10">
                              <div class="input-group">
                                 <input type="text" class="form-control" id="starts" data-container="#addNewEvent" data-plugin="datepicker">
                                 <span class="input-group-addon">
                                 <i class="icon wb-calendar" aria-hidden="true"></i>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 form-control-label" for="ends">Ends:</label>
                           <div class="col-md-10">
                              <div class="input-group">
                                 <input type="text" class="form-control" id="ends" data-container="#addNewEvent" data-plugin="datepicker">
                                 <span class="input-group-addon">
                                 <i class="icon wb-calendar" aria-hidden="true"></i>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 form-control-label" for="repeats">Repeats:</label>
                           <div class="col-md-10">
                              <input type="text" class="form-control" id="repeats" name="repeats" data-plugin="TouchSpin"
                                 data-min="0" data-max="10" value="0" />
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="form-control-label col-md-2">Color:</label>
                           <div class="col-md-10">
                              <ul class="color-selector">
                                 <li class="bg-blue-600"><input type="radio" checked name="eventColorChosen" id="eventColorChosen2"><label for="eventColorChosen2"></label></li>
                                 <li class="bg-green-600"><input type="radio" name="eventColorChosen" id="eventColorChosen3"><label for="eventColorChosen3"></label></li>
                                 <li class="bg-cyan-600"><input type="radio" name="eventColorChosen" id="eventColorChosen4"><label for="eventColorChosen4"></label></li>
                                 <li class="bg-orange-600"><input type="radio" name="eventColorChosen" id="eventColorChosen5"><label for="eventColorChosen5"></label></li>
                                 <li class="bg-red-600"><input type="radio" name="eventColorChosen" id="eventColorChosen6"><label for="eventColorChosen6"></label></li>
                                 <li class="bg-blue-grey-600"><input type="radio" name="eventColorChosen" id="eventColorChosen7"><label for="eventColorChosen7"></label></li>
                                 <li class="bg-purple-600"><input type="radio" name="eventColorChosen" id="eventColorChosen8"><label for="eventColorChosen8"></label></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <div class="form-actions">
                           <button class="btn btn-primary" data-dismiss="modal" type="button">Add this event</button>
                           <a class="btn btn-sm btn-white" data-dismiss="modal" href="javascript:void(0)">Cancel</a>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
            <!-- End AddEvent Dialog -->
            <!-- Edit Dialog -->
            <div class="modal fade" id="editNewEvent" aria-hidden="true" aria-labelledby="editNewEvent"
               role="dialog" tabindex="-1" data-show="false">
               <div class="modal-dialog modal-simple">
                  <form class="modal-content form-horizontal" action="#" method="post" role="form">
                     <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Edit Event</h4>
                     </div>
                     <div class="modal-body">
                        <div class="form-group row">
                           <label class="col-md-2 form-control-label" for="editEname">Name:</label>
                           <div class="col-md-10">
                              <input type="text" class="form-control" id="editEname" name="editEname">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 form-control-label" for="editStarts">Starts:</label>
                           <div class="col-md-10">
                              <div class="input-group">
                                 <input type="text" class="form-control" id="editStarts" name="editStarts" data-container="#editNewEvent"
                                    data-plugin="datepicker">
                                 <span class="input-group-addon">
                                 <i class="icon wb-calendar" aria-hidden="true"></i>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 form-control-label" for="editEnds">Ends:</label>
                           <div class="col-md-10">
                              <div class="input-group">
                                 <input type="text" class="form-control" id="editEnds" data-container="#editNewEvent"
                                    data-plugin="datepicker">
                                 <span class="input-group-addon">
                                 <i class="icon wb-calendar" aria-hidden="true"></i>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 form-control-label" for="editRepeats">Repeats:</label>
                           <div class="col-md-10">
                              <input type="text" class="form-control" id="editRepeats" name="repeats" data-plugin="TouchSpin"
                                 data-min="0" data-max="10" value="0" />
                           </div>
                        </div>
                        <div class="form-group row" id="editColor">
                           <label class="form-control-label col-md-2">Color:</label>
                           <div class="col-md-10">
                              <ul class="color-selector">
                                 <li class="bg-blue-600"><input type="radio" data-color="blue|600" name="colorChosen" id="editColorChosen2"><label for="editColorChosen2"></label></li>
                                 <li class="bg-green-600"><input type="radio" data-color="green|600" name="colorChosen" id="editColorChosen3"><label for="editColorChosen3"></label></li>
                                 <li class="bg-cyan-600"><input type="radio" data-color="cyan|600" name="colorChosen" id="editColorChosen4"><label for="editColorChosen4"></label></li>
                                 <li class="bg-orange-600"><input type="radio" data-color="orange|600" name="colorChosen" id="editColorChosen5"><label for="editColorChosen4"></label></li>
                                 <li class="bg-red-600"><input type="radio" data-color="red|600" name="colorChosen" id="editColorChosen6"><label for="editColorChosen6"></label></li>
                                 <li class="bg-blue-grey-600"><input type="radio" data-color="blue-grey|600" name="colorChosen" id="editColorChosen7"><label for="editColorChosen7"></label></li>
                                 <li class="bg-purple-600"><input type="radio" data-color="purple|600" name="colorChosen" id="editColorChosen8"><label for="editColorChosen8"></label></li>
                              </ul>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 form-control-label" for="editPeople">People:</label>
                           <div class="col-md-10">
                              <select id="editPeople" multiple="multiple" class="plugin-selective"></select>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <div class="form-actions">
                           <button class="btn btn-primary" data-dismiss="modal" type="button">Save</button>
                           <button class="btn btn-danger" data-dismiss="modal" type="button">Delete</button>
                           <a class="btn btn-sm btn-white" data-dismiss="modal" href="javascript:void(0)">Cancel</a>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
            <!-- End EditEvent Dialog -->
            <!--AddCalendar Dialog -->
            <div class="modal fade" id="addNewCalendar" aria-hidden="true" aria-labelledby="addNewCalendar"
               role="dialog" tabindex="-1">
               <div class="modal-dialog modal-simple">
                  <form class="modal-content form-horizontal" action="#" method="post" role="form">
                     <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                        <h4 class="modal-title">New Calendar</h4>
                     </div>
                     <div class="modal-body">
                        <div class="form-group row">
                           <label class="col-md-2 form-control-label" for="ename">Name:</label>
                           <div class="col-md-10">
                              <input type="text" class="form-control" id="ename" name="ename">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="form-control-label col-md-2">Color:</label>
                           <div class="col-md-10">
                              <ul class="color-selector">
                                 <li class="bg-blue-600">
                                    <input type="radio" checked name="colorChosen" id="colorChosen2">
                                    <label for="colorChosen2"></label>
                                 </li>
                                 <li class="bg-green-600">
                                    <input type="radio" name="colorChosen" id="colorChosen3">
                                    <label for="colorChosen3"></label>
                                 </li>
                                 <li class="bg-cyan-600">
                                    <input type="radio" name="colorChosen" id="colorChosen4">
                                    <label for="colorChosen4"></label>
                                 </li>
                                 <li class="bg-orange-600">
                                    <input type="radio" name="colorChosen" id="colorChosen5">
                                    <label for="colorChosen5"></label>
                                 </li>
                                 <li class="bg-red-600">
                                    <input type="radio" name="colorChosen" id="colorChosen6">
                                    <label for="colorChosen6"></label>
                                 </li>
                                 <li class="bg-blue-grey-600">
                                    <input type="radio" name="colorChosen" id="colorChosen7">
                                    <label for="colorChosen7"></label>
                                 </li>
                                 <li class="bg-purple-600">
                                    <input type="radio" name="colorChosen" id="colorChosen8">
                                    <label for="colorChosen8"></label>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-md-2 form-control-label" for="people">People:</label>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <div class="form-actions">
                           <button class="btn btn-primary" data-dismiss="modal" type="button">Create</button>
                           <a class="btn btn-sm btn-white" data-dismiss="modal" href="javascript:void(0)">Cancel</a>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
            <!-- End AddCalendar Dialog -->
         </div>
      </div>
   </div>
   <!-- Site Action -->
   <div class="site-action" data-plugin="actionBtn">
      <button type="button" class="site-action-toggle btn-raised btn btn-success btn-floating">
      <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
      <i class="back-icon wb-trash animation-scale-up" aria-hidden="true"></i>
      </button>
   </div>
   <!-- End Site Action -->
   <!-- Add Calendar Form -->
   <div class="modal fade" id="addNewCalendarForm" aria-hidden="true" aria-labelledby="addNewCalendarForm" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-simple">
         <form class="modal-content" action="#" method="post" role="form">
            <div class="modal-header">
               <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
               <h4 class="modal-title">Create New Calendar</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <label class="form-control-label mb-15" for="name">Calendar name:</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Calendar name">
               </div>
               <div class="form-group">
                  <label class="form-control-label mb-15" for="name">Choice people to your project:</label>
                  <select multiple="multiple" class="plugin-selective"></select>
               </div>
            </div>
            <div class="modal-footer">
               <div class="form-actions">
                  <button class="btn btn-primary" data-dismiss="modal" type="button">Create</button>
                  <a class="btn btn-sm btn-white" data-dismiss="modal" href="javascript:void(0)">Cancel</a>
               </div>
            </div>
         </form>
      </div>
   </div>
   <!-- End Add Calendar Form -->
</section>
<app-footer></app-footer>