<!-- <app-header></app-header> -->
<div class="page-login layout-full page-dark">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Page -->
<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
   <div class="page-content page-top vertical-align-middle animation-slide-top animation-duration-1" style="background:#fff;">
      <div class="brand"><img class="brand-img" src="../../../assets/images/logo.png" alt="..."></div>
      <p>Sign into your pages account</p>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [formControl]="emailFormControl"
                 [errorStateMatcher]="matcher" autocomplete="new-password">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      
        <!-- <div class="example-container"> -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <p class="float-right"  data-target="#examplePositionCenter" data-toggle="modal"><a routerLink="/forgot-password">Forgot password?</a></p>
        <!-- </div> -->
        <button mat-raised-button color="primary">Sign in</button>
      </form>
      <!-- <p>Still no account? Please go to <a href="register.html">Register</a></p> -->
   </div>
</div>
<!-- End Page -->
<app-footer></app-footer>
<!-- Modal -->
<!-- <div class="modal fade" id="examplePositionCenter" aria-hidden="true" aria-labelledby="examplePositionCenter"
role="dialog" tabindex="-1">
<div class="modal-dialog modal-simple modal-center" style="max-width:400px !important;">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
<h3 class="modal-title">Forgot Your Password?</h3>
</div>
<div class="modal-body">
<p>Enter your email address associated with your VIKI account.</p>
     <form method="post" role="form">
        <div class="form-group">
          <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Your Email">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Reset Your Password</button>
        </div>
      </form>
</div>
</div>
</div>
</div> -->
<!-- End Modal -->