.example-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    color: #000;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-button-row button,
  .example-button-row a {
  margin-right: 8px;
}
.mat-raised-button.mat-primary {
    background-color: #589FFC;
    width: 100%;
    top:-15px;
}

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .page-top {
    margin-top: -60px!important;
}