<app-header></app-header>
<app-sidenav></app-sidenav>
<section>
   <div class="dashboard">
      <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <!-- Page -->
      <div class="page">
         <div class="page-content container-fluid">
            <div class="col-lg-12">
               <div class="row" data-plugin="matchHeight" data-by-row="true">
                  <div class="col-lg-12 page-heading">Caretaker List</div>
                  <div class="card-block text-center bg-white card-border">
                     <div class="row">
                        <div class="col-md-7 mt-20 mb-30">
                           <form role="search">
                              <div class="form-group">
                                 <div class="input-search">
                                    <i class="input-search-icon wb-search" aria-hidden="true"></i>
                                    <!-- <input type="text" class="form-control" name="site-search" placeholder="Search Patient (Name, email...)">-->
                                    <!-- <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search" data-toggle="collapse" aria-label="Close"></button>  -->
                                    <input placeholder="Name / Email" class="form-control" placeholder="Search Caretaker (Name, email...)" fxFlex
                                      (keyup)="applyFilter($event.target.value)">
                                  <!-- <button mat-raised-button color="accent" (click)="onSearch($event)" class="searchBtn">
                                      <mat-icon matSuffix class="searchbtnIcon">search</mat-icon> GO
                                  </button> -->
                                 </div>
                              </div>
                           </form>
                        </div>
                        <div class="col-md-5 mt-20 mb-20 text-right"><a href="add-patient.html"><img src="../assets/images/icons/add1.gif"></a></div>
                     </div>
                     <div class="table-responsive text-center">
                        <table class="table table-responsive table-striped text-center">
                           <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                              <!--- Note that these columns can be defined in any order.
                                 The actual rendered columns are set as a property on the row definition" -->
                              <!-- Position Column -->
                              <ng-container matColumnDef="alexa_login_id">
                                 <th mat-header-cell *matHeaderCellDef> Alexa Login Id </th>
                                 <td mat-cell *matCellDef="let element"> {{element.alexa_login_id}} </td>
                              </ng-container>
                              <!-- Name Column -->
                              <ng-container matColumnDef="first_name">
                                 <th mat-header-cell *matHeaderCellDef>First Name </th>
                                 <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                              </ng-container>
                              <!-- Weight Column -->
                              <ng-container matColumnDef="last_name">
                                 <th mat-header-cell *matHeaderCellDef> Last Name </th>
                                 <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                              </ng-container>
                              <!-- Symbol Column -->
                              <ng-container matColumnDef="email">
                                 <th mat-header-cell *matHeaderCellDef> Email Id </th>
                                 <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                              </ng-container>
                              <!-- Symbol Column -->
                              <ng-container matColumnDef="phone">
                                 <th mat-header-cell *matHeaderCellDef> Phone </th>
                                 <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                              </ng-container>
                              <!-- Symbol Column -->
                              <ng-container matColumnDef="status">
                                 <th mat-header-cell *matHeaderCellDef> Status </th>
                                 <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                              </ng-container>
                              <!-- Symbol Column -->
                              <ng-container matColumnDef="action">
                                 <th mat-header-cell *matHeaderCellDef> Actions </th>
                                 <!-- <td mat-cell *matCellDef="let element"> {{element.action}} </td> -->
                                 <td mat-cell *matCellDef="let element">
                                    <!-- <button mat-raised-button color="warn" (click)="deleteCareTaker(element.USER_ID)"> Delete </button> -->
                                    <button mat-button>
                                       <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                                    </button>
                                 </td>
                              </ng-container>
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                           </table>
                           <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Widget starts -->
   </div>
</section>
<app-footer></app-footer>
